<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <title>Document</title>
</head>
<body class="m-5">
    <table class="table">
        <thead>
            <h2 class="text-center">{{ polling_unit_details.polling_unit_name|title }}</h2>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Result Id</th>
            <th scope="col">Polling Unit Unique Id</th>
            <th scope="col">Party Abbrev</th>
            <th scope="col">Party Score</th>
            <th scope="col">Entered By</th>
            <th scope="col">Date Entered</th>
            <th scope="col">User Ip Address</th>
          </tr>
          
        </thead>
        <tbody>
            {% for announced_pu_result in announced_pu_results %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ announced_pu_result.result_id }}</td>
            <td> {{ announced_pu_result.polling_unit_uniqueid }} </td>
            <td> {{ announced_pu_result.party_abbreviation }} </td>
            <td> {{ announced_pu_result.party_score }} </td>
            <td> {{ announced_pu_result.entered_by_user }} </td>
            <td> {{ announced_pu_result.date_entered }} </td>
            <td> {{ announced_pu_result.user_ip_address }} </td>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->
          {% endfor %}
        </tbody>
      </table>
</body>
</html>